# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for Go modules
  - package-ecosystem: gomod # See documentation for possible values
    directory: /sheltasks-cli # Location of package manifests
    allow:
      - dependency-type: all
    schedule:
      interval: daily
    groups:
      go:
        patterns: ['*']
    commit-message:
      prefix: chore(deps)
    reviewers: [vedantmgoyal9]
    rebase-strategy: auto
    target-branch: main

  # Maintain dependencies for npm
  - package-ecosystem: npm # See documentation for possible values
    directory: / # Location of package manifests
    allow:
      - dependency-type: all
    groups:
      npm:
        patterns: ['*']
        dependency-type: production
      npm-dev:
        patterns: ['*']
        dependency-type: development
    schedule:
      interval: daily
    commit-message:
      prefix: chore(deps)
    reviewers: [vedantmgoyal9]
    rebase-strategy: auto
    target-branch: main
    # https://github.com/dependabot/dependabot-core/issues/5226
    # versioning-strategy: increase

  # Maintain dependencies for Go modules
  - package-ecosystem: gomod # See documentation for possible values
    directory: /api # Location of package manifests
    allow:
      - dependency-type: all
    schedule:
      interval: daily
    groups:
      go:
        patterns: ['*']
    commit-message:
      prefix: chore(deps)
    reviewers: [vedantmgoyal9]
    rebase-strategy: auto
    target-branch: main

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: chore(deps)
    reviewers: [vedantmgoyal9]
    rebase-strategy: auto
    target-branch: main

  # Maintain dependencies for Devcontainers
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: chore(deps)
    reviewers: [vedantmgoyal9]
    rebase-strategy: auto
    target-branch: main
